/* Portfolio's root */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --primary-background: rgb(46, 45, 45);
    --secondary-background: rgb(63, 41, 6);

    --primary-font: white;
    --secondary-font: rgb(252, 154, 49);
    --third-font: rgb(229, 229, 229);

    --button-color: rgb(232, 91, 40);
}


body{
    padding: 0px 0px;
    background-color: var(--primary-background);
    cursor: default;
}

*{
    margin: 0;
    padding: 0;

    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-font)
}

/*_________________________________________________________________________*/
/*_________________________________________________________________________*/
@media only screen and (min-width: 200px) and (max-width: 576px){
    body{
        padding: 0px 10px;
    }
}